<!DOCTYPE html>
<html>

<head>
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="bg-gray-900  flex items-center justify-center h-screen">
  <div class="w-[300px] sm:w-[400px] bg-gray-800 rounded-lg p-5 border border-gray-700 shadow-md">
    <div>
      <h2 class="text-base/7 font-semibold text-white">ZIP Url</h2>
      <p class="mt-1 text-sm/6 text-gray-400">This link is password protected! If you don't know, contact the url owner.
      </p>
    </div>
    <form id="passwordForm" class="mt-10">
      <div>
        <label for="password" class="block text-sm/6 font-medium text-white">Enter Password</label>
        <div class="mt-1 w-full">
          <input id="password" type="password" name="password" placeholder="• • • • • •"
            class="block w-full rounded-md bg-gray-900/70 px-3 py-1.5 text-white outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm/6 " />
        </div>
        <div id="message">
          <p class="text-red-500">{{error}}</p>
        </div>
      </div>
      <button id="submitBtn" type="submit"
        class="mt-2 rounded-md bg-gray-600 px-3 py-1.5 text-sm font-medium text-white shadow-xs hover:bg-indigo-500 outline-none focus:ring-1 focus:ring-indigo-500">Submit</button>
    </form>
  </div>

  <script>
    const passwordForm = document.getElementById("passwordForm");
    const input = document.getElementById("password");
    const messageBox = document.getElementById("message");
    const submitBtn = document.getElementById("submitBtn");

    const short_code = window.location.pathname.split('/').filter(Boolean).pop();

    passwordForm.addEventListener('submit', submitPassword)

    async function submitPassword(e) {
      e.preventDefault();
      const password = input.value;

      messageBox.innerHTML = "";
      if (!password) {
        showMessage("Password is required!", "text-red-500");
        return;
      }
      submitBtn.disabled = true;
      submitBtn.textContent = "Verifying...";

      try {
        const res = await fetch(`/urls/verify/${short_code}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ password })
        })
        const json = await res.json();
        if (json.status === 'failed') {
          showMessage(json.message || "Invalid password", "text-red-500");

        } else if (json.status === "success") {
          showMessage("Redirecting...", "text-green-500");
          window.location.replace(json.url);
        }
      } catch (err) {
        showMessage("Network error. Please try again.", "text-red-500");
      } finally {
        submitBtn.disabled = false;
        submitBtn.textContent = "Submit";
      }


    }
    function showMessage(text, colorClass) {
      const p = document.createElement("p");
      p.textContent = text;
      p.className = `${colorClass} text-xs font-medium`;
      messageBox.appendChild(p);
    }

  </script>
</body>

</html>